<h1>Editing agenda aluno</h1>

<%= render "form", agenda_aluno: @agenda_aluno %>

<br>

<div>
  <%= link_to "Show this agenda aluno", @agenda_aluno %> |
  <%= link_to "Back to agenda area_aluno", area_aluno_agenda_alunos_path %>
</div>
