<p style="color: green"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">Agenda do Aluno
    <div class="pull-right">
      <%= link_to "Nova Agenda", new_area_aluno_agenda_aluno_path, class: 'btn btn-default btn-xs' %>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
          <th scope="col" style="width: 5%">ID</th>
          <th scope="col" style="width: 25%">Professor</th>
          <th scope="col" style="width: 25%">Disciplina</th>
          <th scope="col" style="width: 7%">Dia</th>
          <th scope="col" style="width: 7%">Horário</th>
          <th scope="col" style="width: 7%">Ações</th>
        </tr>
        </thead>
        <tbody>
        <% @agenda_alunos.each do |agenda_aluno| %>
          <%= render agenda_aluno %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>