<p style="color: green"><%= notice %></p>

<h1></h1>
<div class="panel panel-primary">
  <div class="panel-heading">Escolaridade
    <div class="pull-right">
      <%= link_to "Nova Escolaridade", new_escolaridade_path, class: 'btn btn-default btn-xs' %>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
          <th scope="col" style="width: 10%">ID</th>
          <th scope="col">Nome</th>
          <th scope="col" style="width: 10%">Ações</th>
        </tr>
        </thead>
        <tbody>
        <% @escolaridades.each do |escolaridade| %>
          <%= render escolaridade %>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>


