<div id="<%= dom_id interesse_aluno %>">
  <p>
    <strong>Aluno:</strong>
    <%= interesse_aluno.aluno_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= interesse_aluno.area_id %>
  </p>

</div>
