<h1>Editing interesse aluno</h1>

<%= render "form", interesse_aluno: @interesse_aluno %>

<br>

<div>
  <%= link_to "Show this interesse aluno", @interesse_aluno %> |
  <%= link_to "Back to interesse alunos", interesse_alunos_path %>
</div>
