<tr>
  <td>
    <%= pais.id %>
  </td>
  <td>
    <%= pais.nome %>
  </td>
  <td style="text-align: center">
    <%= link_to "Editar", edit_pais_path(pais.id), class: 'btn btn-warning btn-xs' %>
    <%= link_to "Excluir", pais_path(pais.id),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { "turbo-method": :delete, confirm: 'Deseja realmente excluir?' } %>
  </td>
</tr>